.body {
    background: #F5F5F5;
    height: auto;
}

.communityBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px 80px 80px;
    gap: 80px;
}

.communityBody__imgArea img {
    border-radius: 70px;
}

.communityBody__textArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.communityBody__textArea-header {
    margin-bottom: 23px;
    color: #292F36;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.96px;
}

.communityBody__textArea-body {
    margin-bottom: 40px;
    color: #1E1E1E;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.communityBody__textArea-button {
    cursor: pointer;
    display: flex;
    padding: 26px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: #00487C;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
    border: none;
}

.communityBody__textArea-button__Vector {

}